---
import ProjectCard from './ProjectCard.astro';
import ProjectsNavigationButtons from './ProjectsNavigationButtons.astro';
import ProjectsIcon from './ProjectsIcon.astro';
import { PROJECTS } from '../../data';

import './Projects.css';
---

<script>
	import { configureProjectsNavigation } from './helpers';
	configureProjectsNavigation();
</script>

<section
	class:list={[
		'flex',
		'flex-col',
		'gap-12',
		'px-6 lg:px-0',
		'overflow-hidden',
	]}
	id='projects'>
	<div class:list={['w-full', 'h-auto', 'flex', 'gap-8']}>
		<div class:list={['flex', 'flex-0', 'justify-end', 'self-center']}>
			<ProjectsIcon />
		</div>
		<h1
			class:list={[
				'text-4xl xl:text-5xl',
				'font-bold',
				'flex-1',
				'self-center',
				'flex',
				'flex-col sm:flex-row',
				'gap-6',
			]}>
			Projects <ProjectsNavigationButtons />
		</h1>
	</div>

	{
		PROJECTS.map(
			({
				projectId,
				title,
				description,
				tags,
				desktopMedia,
				phoneMedia,
				liveLink,
				repositoryLink,
				isActive,
			}) => (
				<ProjectCard
					projectId={projectId}
					title={title}
					description={description}
					tags={tags}
					desktopMedia={desktopMedia}
					phoneMedia={phoneMedia}
					liveLink={liveLink}
					repositoryLink={repositoryLink}
					isActive={isActive}
				/>
			)
		)
	}
</section>
