---
import LocationIcon from './Icons/LocationIcon.astro';
import CountryFlag from './CountryFlag.astro';
import JavascriptIcon from './Icons/JavascriptIcon.astro';
import TypescriptIcon from './Icons/TypescriptIcon.astro';
import HtmlIcon from './Icons/HtmlIcon.astro';
import Css3Icon from './Icons/Css3Icon.astro';
import SassIcon from './Icons/SassIcon.astro';
import ReactIcon from './Icons/ReactIcon.astro';
import ReduxIcon from './Icons/ReduxIcon.astro';
import AngularIcon from './Icons/AngularIcon.astro';
import NodeIcon from './Icons/NodeIcon.astro';
import NestIcon from './Icons/NestIcon.astro';
import NextIcon from './Icons/NextIcon.astro';
import AstroIcon from './Icons/AstroIcon.astro';

import ContactMe from './ContactMe/ContactMe.astro';
import { Tool } from '../../types';
import { PROFILE } from '../../data';

const {
	name,
	position,
	location,
	languages,
	aboutMe,
	email,
	linkedinLink,
	tools,
} = PROFILE;
---

<section
	id='profile'
	aria-label='Profile information'
	class:list={[
		'w-full',
		'h-fit',
		'flex',
		'flex-col',
		'gap-8 p-8',
		'outline',
		'outline-2',
		'-outline-offset-2',
		'rounded-sm',
		[
			'outline-neutral-300 hover:outline-primary-500',
			'dark:hover:outline-transparent',
		],
		'hover:shadow-lg',
		['bg-white', 'dark:bg-neutral-300'],
	]}>
	<article
		class:list={[
			'flex',
			'flex-col',
			'my-0',
			'mx-auto gap-4',
			'justify-center',
		]}>
		<img
			class:list={['w-auto', 'h-44', 'rounded-full']}
			src='/profile.jpeg'
			alt='A portrait of Daniel Alarcón'
		/>

		<div class:list={['text-center']}>
			<h1 class:list={['text-2xl', 'text-neutral-700']}>
				{name}
			</h1>
			<p
				class:list={[
					'text-sm',
					['text-neutral-400', 'dark:text-neutral-600'],
				]}>
				{position}
			</p>
			<div
				class:list={[
					'flex',
					'justify-center',
					'flex-col',
					'mt-[0.5rem]',
					'text-neutral-700',
				]}>
				<LocationIcon />
				<p
					class:list={[
						'text-sm',
						'align-bottom',
						['text-neutral-400', 'dark:text-neutral-600'],
					]}>
					{location.city}
				</p>
				<p
					class:list={[
						'text-sm',
						'align-bottom',
						['text-neutral-400', 'dark:text-neutral-600'],
					]}>
					{location.country}
				</p>
			</div>
		</div>
	</article>

	<article class:list={['flex', 'justify-center', 'flex-col', 'gap-[13px]']}>
		<ContactMe email={email} linkedinLink={linkedinLink} />
	</article>

	<article
		class:list={[
			'border',
			'rounded-sm p-4',
			[
				'border-neutral-300 hover:border-secondary-300',
				'dark:hover:border-secondary-500',
			],
		]}>
		<p class:list={['text-base', 'font-bold', 'dark:text-neutral-900']}>
			Languages
		</p>
		<hr
			class:list={[
				'mt-1',
				'mb-[0.5rem]',
				'-ml-1',
				'dark:border-neutral-500',
			]}
		/>
		<div>
			{
				languages.map((language) => (
					<div>
						<CountryFlag country={language} />
						<p
							class:list={[
								'inline',
								'align-',
								'mr-[4px]',
								'text-neutral-700',
								'text-sm',
							]}>
							{language}
						</p>
					</div>
				))
			}
		</div>
	</article>

	<article
		class:list={[
			'border',
			'rounded-sm',
			'p-4',
			[
				'border-neutral-300 hover:border-secondary-300',
				'dark:hover:border-secondary-500',
			],
		]}>
		<p class:list={['text-base', 'font-bold', 'dark:text-neutral-900']}>
			About me
		</p>
		<hr
			class:list={[
				'mt-1',
				'mb-[0.5rem]',
				'-ml-1',
				'dark:border-neutral-500',
			]}
		/>
		<div class:list={['flex', 'flex-col', 'gap-4 ', 'text-neutral-700']}>
			{
				aboutMe.map((paragraph) => (
					<p class:list={['text-sm']}>{paragraph}</p>
				))
			}

			<div class:list={['flex gap-2', 'flex-wrap']}>
				{tools.has(Tool.JAVASCRIPT) && <JavascriptIcon />}
				{tools.has(Tool.TYPESCRIPT) && <TypescriptIcon />}
				{tools.has(Tool.HTML) && <HtmlIcon />}
				{tools.has(Tool.CSS) && <Css3Icon />}
				{tools.has(Tool.SASS) && <SassIcon />}
				{tools.has(Tool.REACT) && <ReactIcon />}
				{tools.has(Tool.REDUX) && <ReduxIcon />}
				{tools.has(Tool.ANGULAR) && <AngularIcon />}
				{tools.has(Tool.NODE) && <NodeIcon />}
				{tools.has(Tool.NEST_JS) && <NestIcon />}
				{tools.has(Tool.NEXT_JS) && <NextIcon />}
				{tools.has(Tool.ASTRO_BUILD) && <AstroIcon />}
			</div>
		</div>
	</article>
</section>
